@{
    ViewData["Title"] = "Checkout";
}
@model List<Spil>

<style>
    .spilIKurv {
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .two-columns {
        display: flex;
        gap: 20px;
    }
    .column {
        flex: 1;
    }
</style>

<div class="indkøbsVogn">
    <div class="column">
    <h2 style="font-weight: bold;">Indkøbskurv</h2>
    <div class="Kurv">
        @if (Model != null)
        {
            double totalPris = 0;
            @foreach (Spil spil in Model)
            {
                totalPris += spil.pris * spil.antal;

                <div class="spilIKurv">
                    <h4 style="font-weight: bolder">@spil.navn</h4>
                    <h6 style="font-weight: bold">@spil.pris DKK pr. spil</h6><br/>
                    <h6>@spil.antal spil i kurven</h6>
                    <div style="display:flex; gap:10px;">
                        <form method="POST" asp-action="AddLessToIndkøbskurv">
                            <input type="hidden" name="spilId" value="@spil.id">
                            <button class="button-style">Fjern</button>
                        </form>
                        <form method="POST" asp-action="AddMoreToIndkøbskurv">
                            <input type="hidden" name="spilId" value="@spil.id">
                            <button class="button-style">Tilføj</button>
                        </form>

                    </div>
                </div>
            }

            <div>
                <br/>
                <h5 style="font-weight: bold; text-decoration: underline;">Pris i alt: @totalPris DKK</h5>
                <br/>
            </div>
        }
    </div>
    </div>


<div class="column">
    <h2 style="font-weight: bold;">Dine oplysninger</h2>
    <form method="POST" asp-action="LogCustomer">
        <h6 style="font-weight: bold">Brugernavn</h6>
        <input class="input-style" type="text" name="customerUserName" required="true"/>
        <h6 style="font-weight: bold">Adgangskode</h6>
        <input class="input-style" type="text" name="customerPassword" required="true"/>
        <h6 style="font-weight: bold">Mobilnummer</h6>
        <input class="input-style" type="number" name="customerPhoneNumber" required="true"/>
        <h6 style="font-weight: bold">Adresse</h6>
        <input class="input-style" type="text" name="customerAddress" required="true"/>
        <h6 style="font-weight: bold">Betalingsmetode</h6>
        <select class="dropdown" name="customerPaymentMethod" required="true">
            <option>Mastercard</option>
            <option>Dankort</option>
            <option>MobilePay</option>
            <option>PayPal</option>
        </select>
        <br>
        <button class="button-style">
            Køb
        </button>
    </form>
</div>
</div>