@{
    ViewData["Title"] = "Katalog";
}
@model List<Spil>
<div>
    @foreach (Spil spil in Model)
    {
        <span>@spil.id</span>
        <span>@spil.navn</span>
        <span>@spil.pris</span>
        <span>@spil.kategori</span>
        <form method="POST" asp-action="BuyItem">
            <input type="hidden" name="spilId" value="@spil.id">
            <button>Tilføj til kurv</button>
        </form>
        <br>
    }
</div>

<div>
    mega div mand.
    Her vises alle brætspil (Når vi laver dem høhø)
</div>