@using PulterkammeretShop.Controllers
@{
    ViewData["Title"] = "SeBestillinger";
}
@model List<Ordre>

<style>
    .spil{
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

@if (HomeController.LoggedInUser == null)
{
    <h1> Please log in </h1>
    <form method="POST" asp-action="LoginUser">
        <input class="input-style" type="text" name="customerName"/>
        <input class="input-style" type="text" name="customerPassword"/>
        <button class="button-style">Log In</button>
    </form>
}
else
{
    <div>
        @foreach (Ordre ordre in Model)
        {
            <h2>Bestilling d. @ordre.ordreDato</h2>
            foreach (Spil spil in ordre.varer)
            {
                <div class="spil">
                    <img src="~/images/Frontbilleder/@(spil.navn).jpeg" alt="Billede Kommer Snart" style="width:100%; height:auto;"/>
                    <h4 style="font-weight: bolder">@spil.navn</h4>
                    <h6 style="font-weight: bold">@spil.pris DKK</h6>
                    <h6>@spil.antal stk.</h6>
                    <h6>@spil.kategori</h6>
                </div>
            }

            <br/>
        }
    </div>
}